{% extends 'base.html.twig' %}

{% block title %}Pokédex - PokéFony{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-5 text-center">Pokédex</h1>

        {% include 'parts/_searchbar.html.twig' %}

        <div class="col-12 text-center mt-4 mb-4">
            <div class="row">
                {% if previous >= 0 %}
                    <div class="col">
                        <a class="btn btn-dark w-100" href="{{ path('app_home', { offset: previous }) }}">
                            Previous
                        </a>
                    </div>
                {% endif %}
                {% if next < pokemons|length %}
                    <div class="col">
                        <a class="btn btn-dark w-100" href="{{ path('app_home', { offset: next }) }}">
                            Next
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% for pokemon in pokemons %}
                {% include('parts/_pokemon.html.twig') %}
            {% endfor %}
            <div class="col-12 text-center mt-4 mb-4">
                <div class="row">
                    {% if previous >= 0 %}
                        <div class="col">
                            <a class="btn btn-dark w-100" href="{{ path('app_home', { offset: previous }) }}">
                                Previous
                            </a>
                        </div>
                    {% endif %}
                    {% if next < pokemons|length %}
                        <div class="col">
                            <a class="btn btn-dark w-100" href="{{ path('app_home', { offset: next }) }}">
                                Next
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
