{% extends 'base.html.twig' %}

{% block title %}Pokédex - PokéFony{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="m-5 text-center">Pokédex</h1>
        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                        Filters
                    </button>
                </h2>
                <div id="flush-collapseOne" data-controller="searchpokemon" class="accordion-collapse collapse mt-4 mb-4"
                     data-bs-parent="#accordionFlushExample">
                    <p>Name</p>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="bulbasaur">
                    </div>
                    <p>Types</p>
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Grass
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Poison
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Fire
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Flying
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Water
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Bug
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Normal
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Electric
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Ground
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Fairy
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Fighting
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Psychic
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Rock
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Steel
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Ice
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Ghost
                                </label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Dragon
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" value="">
                                    Dark
                                </label>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary mt-4" data-action="click->searchpokemon#searchPokemon">Search 🔎</button>
                </div>
            </div>
        </div>
        <div class="col-12 text-center mt-4 mb-4">
            <div class="row">
                {% if previous >= 0 %}
                    <div class="col">
                        <a class="btn btn-dark w-100" href="{{ path('app_home', { offset: previous }) }}">
                            Previous
                        </a>
                    </div>
                {% endif %}
                {% if next < pokemons|length %}
                    <div class="col">
                        <a class="btn btn-dark w-100" href="{{ path('app_home', { offset: next }) }}">
                            Next
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% for pokemon in pokemons %}
                {% include('pokemon/pokemon.html.twig') %}
            {% endfor %}
            <div class="col-12 text-center mt-4 mb-4">
                <div class="row">
                    {% if previous >= 0 %}
                        <div class="col">
                            <a class="btn btn-dark w-100" href="{{ path('app_home', { offset: previous }) }}">
                                Previous
                            </a>
                        </div>
                    {% endif %}
                    {% if next < pokemons|length %}
                        <div class="col">
                            <a class="btn btn-dark w-100" href="{{ path('app_home', { offset: next }) }}">
                                Next
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
